.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  width: 100%;
  height: 100%;
}

.noresults {
  margin: auto;
  color: var(--accent-color-1);
  font: (var(--main-font-title));
}
