:root {
  --accent-color-1: #c31c7c;
  --accent-color-2: #6d358c;
  --main-color-1: #2a2a2a;
  --main-color-2: white;
  --font-color-main-1: black;
  --main-font-controls: normal normal 16px/24px arial, sans-serif;
  --main-font-title: normal normal 18px/27px arial, sans-serif;
  --main-font-text: normal normal 14px/21px arial, sans-serif;
  --page-content-max-width: 1200px;
}
