.button {
  padding: 14.5px 16px;
  border-style: none;
  border-radius: 16px;
  background-color: var(--accent-color-1);
  color: var(--main-color-2);
  font: var(--main-font-controls);
  cursor: pointer;
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(1.3);
  }

  &:disabled {
    filter: brightness(0.7) saturate(0.7);
    pointer-events: none;
  }
}
