.search {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.input {
  flex-grow: 1;
  padding: 14.5px 16px;
  border-style: none;
  border-radius: 8px;
  font: var(--main-font-controls);
  color: var(--font-color-main-1);

  &::placeholder {
    font: var(--main-font-controls);
  }
}