.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 100px 32px;
  background-image: radial-gradient(
    150% 70% at 100% -3%,
    var(--accent-color-1) 0,
    var(--accent-color-2) 30%,
    var(--main-color-1) 100%
  );
  background-color: var(--main-color-1);
}
