@use 'sass:color';

.searcher {
  display: flex;
  flex-direction: column;
  gap: 28px;
  flex-grow: 1;
}

.container {
  display: flex;
  gap: 28px;
  flex-grow: 1;
  border-radius: 16px;
  background-color: color-mix(in srgb, var(--main-color-1) 30%, transparent);
}

.error {
  color: var(--accent-color-1);
  font: (var(--main-font-title));
  text-align: center;
}
